@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.Corpo {
	background-color: #07080a;
	color: #FFFAFA;
	font-family: "Montserrat", sans-serif;
}

h3, h2, h1 {
	font-weight: 400;
}

header	{
	grid-area: header;
	background-color: #07080a;
}

footer	{
	text-align: center;
}