.Titulo {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.escrita {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

.Copy {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}

.hb {
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;

}

#Linkedin{
    color: black;
    

}